/* ==========================
01 GENERAL STYLE & BASIC RESETS 
=============================*/
*, ::before,* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-color: linear-gradient(135deg,  #0f0f0f, #1c1a2f, #2d2444);
    --accent: rgb(255, 255, 255);
    --text-color: #ffffff;
    --border-color: #444;
    --box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    --border-radius: 10px;
    --box-shadow-hover: 0 4px 10px rgba(0, 0, 0, 0.3);
    --transition: .3s ease-in-out;
    --layout: grid;
    --layout-template: repeat(auto-fit, minmax(300px, 1fr));
    
    /* size */
    --margin-small: 5px 0;
    --margin-medium: 10px 0;
    --font-size-small: 12px;
    --font-size-medium: 16px;
    --font-size-large: 24px;
    --padding-small: 8px 12px;
    --padding-medium: 12px 16px;
    --padding-large: 16px 24px;
    --line-height: 1.5;

   }
   @font-face {
    font-family: "Montserrat";
    src: url(assets/fonts/Montserrat-Light.ttf), format(truetype);
    font-style: normal;
    font-display: swap;
    font-weight: normal;
   }
   @font-face {
    font-family: "Merriweather";
    src: url(assets/fonts/Merriweather_24pt-ExtraBold.ttf), format(truetype);
    font-style: bold;
    font-display: swap;
    font-weight: normal;
   }
   @font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Medium.ttf), format(truetype);
    font-style: normal;
    font-display: swap;
    font-weight: normal;
   }
   @font-face {
    font-family: "Roboto";
    src: url(assets/fonts/Roboto_Condensed-Medium.ttf), format(truetype);
    font-style: normal;
    font-display: swap;
    font-weight: normal;
   }
html {
    scroll-behavior: smooth;
    font-size: var(--font-size-medium);
}
img {
    display: block;
    max-width: 100%;
    height:auto;
}
figure {
    margin: var(--margin-medium);
}
 a:link {
    text-decoration: none;
    color: var(--accent);
}
 a:hover {
    text-decoration: underline;
    color: var(--text-color);
}
 a:visited {
    text-decoration: none;
    color: var(--accent)
}
li {
    list-style-type: none;
}
   /* ===========================
    02. BODY & HEADING
   ============================== */
body {
    font-family: "Montserrat", Arial, sans-serif;
    background: var(--background-color);
    animation: gradientBG 10s ease infinite;
    background-size: 400% 400%;
    color: var(--text-color);
    padding: 20px;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background: var(--background-color);
    z-index: -1;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    animation: gradientBG 10s ease infinite;
    background-size: 400% 400%;
}
h1,h2,h3 {
    font-family: "Poppins";
    text-transform: uppercase;
}
h1 {
    font-size: 1.5rem;
}
#intro h2{
    max-width:min-content;
    line-height: 1.1;
}
 h2{
    font-size: clamp(1.8rem, 3.5vw + 0.5rem, 2.5rem);
}
h3 {
    margin: var(--margin-medium);
    text-transform: capitalize;
    letter-spacing: 2px;
}
h4 {
    margin: var(--margin-medium);
}
* p {
    text-align: left;
    line-height: var(--line-height);
    margin: var(--margin-medium);
}
@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* =================
03 HEADER & NAVIGATION
===================*/
header {
  
width: 100%;
}

#togglebtn {
    display: none;
}

nav {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
nav ul {
    display:flex;
}
nav ul li {
    margin-right: 1rem;
}

/* mobile nav */
@media  screen and (max-width: 900px) {
    h1 {
    font-size: 1rem;
}
    #togglebtn {
cursor: pointer;
width: 30px;
height: 30px;
display : grid;
border: none;
outline: none;
padding: 5px;
background: transparent;
transition: transform .2s ease-in-out;
 }
#togglebtn:hover {
    transform: rotate(190deg);
}
span.bar {
    display: block;
    width: 100%;
    height: 2px;
    background: var(--text-color);
    color: white;
    margin-top: 3px;
}
nav ul {
width: 100%;
height: 100%;
position: absolute;
background: #ccc;
top: 3.5rem;
display: block;
left: 0;
padding: var(--padding-large);
transition: transform var(--transition), opacity var(--transition);
transform: translate(500px);
opacity:0;
 }
nav ul.active {
    transform: translate(0);
    opacity: 1;
 }
nav ul li  {
    margin-top: 1rem;
}
nav ul li a {
font-size: var(--font-size-medium)
}
}
/* ===========================
04 MAIN STYLE
============================== */
main {
    display: var(--layout);
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    max-width: 1200px;
    margin: 3rem auto;
    padding: 10px;
 }

 section {
    margin: 2.5rem 0;
    display: var(--layout);
    grid-template-columns:var(--layout-template);
    grid-template-rows: auto;
    gap: 10px;
    max-width:100%;
 }
 section ul li {
    margin: var(--margin-medium);
 }